.share {
	align-self: center;
	display: flex;
	
	flex-direction: row;
	
	&-button {
		width: 30px;
		height: 30px;
		
		border: 2px solid black;
		border-bottom: none;
		background: #fff;
		transition: background .3s;
		cursor: pointer;
		
		display: flex;
		justify-content: center;
		align-items: center;
		
		&:not(:last-child) {
      border-right: none;
    }
		
		&:hover {
			background: #e3e2e2;
		}
	}
	
	svg {
    width: 20px;
    height: 20px;
  }
}